<!-- <div class="navbar">
    <ul>
      <li><a href="#/user">Dashboard</a></li>
      <li><a href="#/checkIn">Check-In</a></li>
      <li><a href="#/info">Info Page</a></li>
    </ul>
</div> -->

<section ng-controller="MyController">
    <md-fab-toolbar md-direction="right">
        <md-fab-trigger>
          <md-button class="md-fab md-primary" aria-label="Open"><md-icon md-svg-icon="vendors/icons/forward.svg"></md-icon></md-button>
        </md-fab-trigger>
      
        <md-toolbar>
            
         <md-fab-actions class="md-toolbar-tools">
           <md-icon md-svg-icon="vendors/icons/backward.svg"></md-icon>
            <md-button href="#/user">User</md-button>
            <md-button href="#/checkIn">Check-In</md-button>
            <md-button href="#/dash">Dashboard</md-button>
            <md-button href="#/info">Info Page</md-button>
         </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar>
<!-- <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="nav">
    <md-button ng-click="openLeftMenu()">
        <md-icon md-svg-icon="vendors/icons/forward.svg"></md-icon></md-button>
  </md-nav-bar>
  <div layout="row" ng-controller="MyController">
      <md-sidenav md-component-id="left" class="md-sidenav-left">
        Left Nav!
        <md-button ng-click="closeLeftMenu()">
          Open Left Menu
        </md-button>
        <md-list-item href="#/user">Dashboard</md-list-item>
        
                      <md-list-item href="#/checkIn" ng-class="{ 'side-button-active': isSelected(2) && isOpen }">
                        <i ng-class="{ 'side-icon-active': isSelected(2) && isOpen,'side-icon-inactive': !isSelected(2), 'material-icons': true}">person</i>
                      </md-list-item>
      </md-sidenav>
        
      </md-content>
  </section> -->

  <!-- <div ng-controller="MyController" layout="column" class="section" ng-cloak>
      
        <md-toolbar md-whiteframe="4" layout="row">
          <md-list layout="row">
            <md-list-item>
              <md-button class="md-icon-button" aria-label="Settings" ng-click="closeSidenav()" ng-disabled="!isOpen"><md-icon class="material-icons">reorder</md-icon></md-button>
            </md-list-item>
            <md-list-item>
              Angular Material Custom Sidenav Template
            </md-list-item>
          </md-list>
        </md-toolbar>
         -->
        <!-- <div class="container" layout="row" flex>
          <md-sidenav md-component-id="l-sidenav" class="locked-sidebar" md-is-locked-open="true" md-whiteframe="4">
            <md-list>
              <md-list-item href="#/user">Dashboard</md-list-item>

              <md-list-item href="#/checkIn" ng-class="{ 'side-button-active': isSelected(2) && isOpen }">
                <i ng-class="{ 'side-icon-active': isSelected(2) && isOpen,'side-icon-inactive': !isSelected(2), 'material-icons': true}">person</i>
              </md-list-item>
              <md-list-item  ng-class="{ 'side-button-active': isSelected(3) && isOpen }">
                <i ng-class="{ 'side-icon-active': isSelected(3) && isOpen,'side-icon-inactive': !isSelected(3), 'material-icons': true}">list</i>
              </md-list-item>
              <md-list-item ng-click="toggleExpanded(4)" ng-class="{ 'side-button-active': isSelected(4) && isOpen }">
                <i ng-class="{ 'side-icon-active': isSelected(4) && isOpen,'side-icon-inactive': !isSelected(4), 'material-icons': true}">laptop</i>
              </md-list-item>
              <md-list-item ng-click="toggleExpanded(5)" ng-class="{ 'side-button-active': isSelected(5) && isOpen }">
                <i ng-class="{ 'side-icon-active': isSelected(5) && isOpen,'side-icon-inactive': !isSelected(5), 'material-icons': true}">phone</i>
              </md-list-item>
            </md-list>
          </md-sidenav>
          <md-sidenav md-component-id="t-sidenav" class="toggleable-sidebar" ng-show="isOpen" md-is-locked-open="true" md-whiteframe="4">

          
        </div>
      
      </div> -->