<!-- <div class="navbar">
    <ul>
      <li><a href="#/user">Dashboard</a></li>
      <li><a href="#/checkIn">Check-In</a></li>
      <li><a href="#/info">Info Page</a></li>
    </ul>
</div> -->

<md-nav-bar md-selected-nav-item="currentNavItem" aria-label="nav">
    <md-nav-item class="md-primary" md-nav-href="#/user" name="Dashboard">Dashboard</md-nav-item>
    <md-nav-item class="md-primary" md-nav-href="#/checkIn" name="Check-In">Check-In</md-nav-item>
    <md-nav-item class="md-primary" md-nav-href="#/info" name="Info">About the App</md-nav-item>
  </md-nav-bar>
