<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <p>
        In CheckIn
    </p>
    <!-- <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
        <md-button class="md-primary md-raised" ng-click="cc.showAdvanced($event)">
            Quiz Dialog
        </md-button> -->

        <div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" ng-app="MyApp">
              <md-content layout-padding="">
                <div>
                  <form name="userForm">
             <md-switch ng-model="data.hasPeriod" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn md-block">
                    Currently Have Period: {{ data.hasPeriod }}
                  </md-switch>
                    <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs="">
                              <p>Flow: <span class="radioValue">{{ data.flow }}</span> </p>
                              <md-radio-group ng-model="data.flow">
                                <md-radio-button value="light" class="md-primary">light</md-radio-button>
                                <md-radio-button value="medium"> medium </md-radio-button>
                                <md-radio-button value="heavy">heavy</md-radio-button>
                                <md-radio-button value="spotting">spotting</md-radio-button>
                              </md-radio-group>

                              <p>Mood: <span class="radioValue">{{ data.mood }}</span> </p>
                              <md-radio-group ng-model="data.mood">
                                <md-radio-button value="happy" class="md-primary">happy</md-radio-button>
                                <md-radio-button value="sad"> sad </md-radio-button>
                                <md-radio-button value="tired">tired</md-radio-button>
                                <md-radio-button value="angry">angry</md-radio-button>
                              </md-radio-group>

                  </form>
                  <!-- <div ng-repeat="symptom in cc.symptoms">
                          <p>{{symptom.name}}</p>
                               </div> -->
                </div>
              </md-content>
            
            </div>

    </div>
</div>