<section layout="row">
  <div flex="5"></div>
  <div flex="column" layout-align="center center">
    <md-card layout-margin>
        <div layout="row" layout-margin>
            <div flex="33">
                <md-switch ng-model="cc.data.hasPeriod" ng-click="cc.changeFlow()" aria-label="Switch 2" ng-true-value="'yes'" ng-false-value="'no'" class="md-primary md-block">Period
                  </md-switch> 
            </div>
            <div flex="33"ng-show="cc.data.hasPeriod==='yes'" ng-hide="cc.data.hasPeriod==='no'"><md-switch ng-model="cc.firstDay" ng-true-value="'yes'" ng-false-value="'no'" class="md-primary md-block">New Cycle? 
              </md-switch>
            </div>
            <div flex="33" ng-show="cc.data.hasPeriod==='yes'" ng-hide="cc.data.hasPeriod==='no'">
                <md-button ng-class="cc.flow ==='heavy' ? 'md-icon-button md-raised md-primary' : 'md-icon-button md-accent'" ng-click="cc.toggleHeavy()" ng-class="heavy">
                  <md-icon md-svg-icon="vendors/icons/empty_drop.svg"></md-icon></md-button>
                <md-button ng-class="cc.flow ==='medium' ? 'md-icon-button md-raised md-primary' : 'md-icon-button md-accent'" ng-click="cc.toggleMedium()" ng-class="medium">
                    <md-icon md-svg-icon="vendors/icons/halfdrop.svg"></md-icon>
                </md-button>
                <md-button ng-class="cc.flow ==='light' ? 'md-icon-button md-raised md-primary' : 'md-icon-button md-accent'" ng-click="cc.toggleLight()" ng-class="light">
                    <md-icon md-svg-icon="vendors/icons/fulldrop.svg"></md-icon>
                </md-button>
            </div>
          </div>
          <div layout-align="center center" layout="row">
            Mood:
              <md-button ng-class="cc.mood ==='very bad' ? 'md-icon-button md-raised md-accent' : 'md-icon-button md-accent'" ng-click="cc.toggleVeryBad()">
                  <md-icon md-svg-icon="vendors/icons/superbad.svg"></md-icon>
                </md-button>
                <md-button ng-class="cc.mood ==='bad' ? 'md-icon-button md-raised md-accent' : 'md-icon-button md-accent'" ng-click="cc.toggleBad()">
                  <md-icon md-svg-icon="vendors/icons/somewhatunhappy.svg"></md-icon>
                </md-button>
                <md-button ng-class="cc.mood ==='neutral' ? 'md-icon-button md-raised md-accent' : 'md-icon-button md-accent'" ng-click="cc.toggleNeutral()">
                  <md-icon md-svg-icon="vendors/icons/neutral.svg"></md-icon>
                </md-button>
                <md-button ng-class="cc.mood ==='good' ? 'md-icon-button md-raised md-accent' : 'md-icon-button md-accent'" ng-click="cc.toggleGood()">
                  <md-icon md-svg-icon="vendors/icons/somewhathappy.svg"></md-icon>
                </md-button>
                <md-button ng-click="cc.toggleVeryGood()" ng-class="cc.mood ==='very good' ? 'md-icon-button md-raised md-accent' : 'md-icon-button md-accent'">
                  <md-icon md-svg-icon="vendors/icons/superhappy.svg"></md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
            <md-chips ng-model="cc.symptoms" placeholder="+ a symptom" md-max-chips="5">
              </md-chips></div>
              <div layout="row">
            <md-datepicker ng-model="cc.niceDate"></md-datepicker></div>
            
        <div layout="row">
            <md-button ng-click="cc.submit()">submit
          </md-button>
        </div>
    </md-card>

  </div>
  <div flex="5"></div>
</section>




<div layout="column" layout-margin>
  <div flex="30"></div>

<md-card flex="40">

</md-card>
<div flex="30"></div>
</div>